mixin product-card(imgSrc='img/cat.png', descr='Сказочное заморское яство', comebackDescr='Котэ не одобряет?', title='Нямушка', subtitle='с рыбой', weight=2, weightMeasure='кг', advantageList=[{amount: 10, name: 'порций'}, {amount: '', name: 'мышь в подарок'}], cardType='usual', footerText={usual: {text: 'Чего сидишь? Порадуй котэ,', linkText: 'купи'}, active: {text: 'Головы щучьи с чесночком да свежайшая сёмгушка'}, disable: {text: 'Печалька, с рыбой закончился'} })
	.item-product(class= cardType=='usual' ? '' : cardType)
		.item-product__card
			.card
				.card__header
					.card__angle
					.card__rectangle
						.card__descr=descr
						.card__comeback=comebackDescr
				.card__body
					.card__img
						img(src=imgSrc, alt="card-image")
					.card__info-circle
						.card__weight=weight
						.card__weight_measure=weightMeasure
					.card__name
						h2.card__title=title
						h3.card__title.card__title_subtitle=subtitle
					if advantageList
						ul.card__advantage-list
							each item in advantageList
								li.card__advantage-item
									if item.amount !== ''
										span.card__advantage-item_amount=item.amount
										|&nbsp;
									=item.name
		.item-product__footer
			.product-footer
				.product-footer__item.product-footer__item_usual=footerText.usual.text
					|&nbsp;
					span.product-footer__buy
						a.product-footer__link(href='#')=footerText.usual.linkText
				.product-footer__item.product-footer__item_active=footerText.active.text
				.product-footer__item.product-footer__item_disable=footerText.disable.text