mixin product-card(imgSrc='img/cat.png', descr='Сказочное заморское яство', title='Нямушка', subtitle='с рыбой', advantageList)
	.item-product
		.item-product__card
			.card
				.card__img
					img(src=imgSrc, alt="card-image")
				.card__info-circle
					.card__weight 2
					.card__weight_measure кг
				.card__header
					.card__angle
					.card__descr=descr
				.card__body
					.card__name
						h2.card__title=title
						h3.card__title.card__title_subtitle=subtitle
					if advantageList
						ul.card__advantage-list
							each item in advantageList
								li.card__advantage-item
									if item.amount !== ''
										span.card__advantage-item_amount=`${item.amount}`
										|&nbsp;
									=`${item.name}`
		.item-product__footer
			.item-product__footer_usual 
				|Чего сидишь? Порадуй котэ,&nbsp;
				span.item-product__footer_usual-buy
					a.item-product__footer_usual-link(href='#') купи
			.item-product__footer_active Головы щучьи с чесночком да свежайшая сёмгушка
			.item-product__footer_disable Печалька, с рыбой закончился